<p id="notice"><%= notice %></p>

<p>
  <b>Scale text:</b>
  <%= @fligh_scale.scale_text %>
</p>

<p>
  <b>Year:</b>
  <%= @fligh_scale.year %>
</p>

<p>
  <b>Month:</b>
  <%= @fligh_scale.month %>
</p>

<p>
  <b>Company:</b>
  <%= @fligh_scale.company %>
</p>

<p>
  <b>Post:</b>
  <%= @fligh_scale.post %>
</p>


<%= link_to 'Edit', edit_fligh_scale_path(@fligh_scale) %> |
<%= link_to 'Back', fligh_scales_path %>
